.App {
  text-align: center;
}


body {
  margin: 0;
  background-image: linear-gradient(rgb(142, 129, 201), rgb(127, 180, 106));
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
